.can{
  width: 70%;

}
.bullet-item{
  width: 12px;
  height: 12px;
  margin-right: 10px;
  display:inline-block;

}
ul li{ display: inline}
ul {list-style: none;}
li {margin-right: 20px;}
li span {
  color: black; /* text color */
}
#main{
  margin: 0px!important;
}
